.content {
    padding: 1em;
}

.content-box {
    margin: 1ex;
    padding: 1em;
    border: solid black 1px;
}

.spectrogram-box {
    overflow: scroll;
}

#spectrogram {
    height: 260px;
}

.title-bar, .status-bar {
    color: white;
    background: black;
    padding: 0.5em;
    margin: 0;
    margin-left: 1ex;
    margin-right: 1ex;
    text-align: center;
}

.title-bar h1 {
    margin: 0;
}

.labels {
    display: flex;
    flex-direction: row;
}

.labels > div {
    flex: 1;
}

.hidden {
    display: none;
}
